*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #606c38;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    flex-basis: 30%;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a{
    color: #FEFAE0;
    transition: all .5s;
    text-decoration: none; 
}
nav ul li a:hover{
    display: inline-block;
    color: #BC6C25;
    transform: scale(1.5);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
nav>a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #BC6C25;
    text-decoration: none;
}
nav>a:hover{
    transform: skew(20deg) perspective(14rem);
}
.pictures{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 3rem;
}
main{
    background-color: #FEFAE0;
    padding:3rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pictures img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transition: all 1s;
}
.pictures img:hover{
    transform: rotateY(180deg);
}
main>section figcaption{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    position: relative;
    padding: 1rem;
    left: 2rem;
}
footer{
    background-color: #606c38;
    padding: 1rem;
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem;
}
.contact img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: all .5s;
}
.contact img:hover{
    transform:skew(20deg);
}
footer>p{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer>p>span{
    font-weight: lighter;
    color: darkgray;
}